<!DOCTYPE html>
<html>

<%- include('components/header.ejs', {
    title:'Upload - Nature\'s Palette',
    stylesheets: 'uploadSubmission'
}) %>

<body class="bg-light">

<%- include('components/navbar.ejs', {user: user}) %>
<div class="container" style="width: 50%;margin: auto">
    <br>
    <form action="/upload.html" method="post" enctype="multipart/form-data">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="prePage" data-toggle="pill" href="#basicInfo" role="tab" aria-selected="true">1. Basic Information</a>
        </li>
        &nbsp;<img src="/images/keyboard_arrow_right-24px.svg">&nbsp;
        <li class="nav-item">
            <a class="nav-link" id="nextPage" data-toggle="pill" href="#uploadFile" role="tab" aria-selected="false">2. Upload File</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="basicInfo" role="tabpanel">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Name</label>
                            <input type="text" name="firstName" class="form-control" placeholder="First name">
                        </div>
                        <div class="form-group col-md-6">
                            <label>&nbsp;&nbsp;</label>
                            <input type="text" name="lastName" class="form-control" placeholder="Last name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Institution Affiliation</label>
                            <input type="text" name="institution" class="form-control" placeholder="Institution">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Type of Data</label>
                            <select name="datatype" class="form-control">
                                <option selected>Transmittance</option>
                                <option>Reflectance</option>
                                <option>Irradiance</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Data from</label>
                            <select name="dataFrom" class="form-control">
                                <option selected>Field</option>
                                <option>Museum</option>
                            </select>
                        </div>

                    </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <p>Choose datatype from the list - Transmittance, Reflectance, Irradiance</p>
                    </div>
                    <div class="form-group col-md-6">
                        <p>Data was collected from Field or Museum</p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Have the data been published?</label>
                    </div>
                    <div class="form-group col-md-1">
                        <input class="form-check-input" type="radio" name="published" value="true">
                        <label class="form-check-label">
                            Yes
                        </label>
                    </div>
                    <div class="form-group col-md-1">
                        <input class="form-check-input" type="radio" name="published" value="false" checked>
                        <label class="form-check-label">
                            No
                        </label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Embargo?</label>
                    </div>
                    <div class="form-group col-md-1">
                        <input class="form-check-input" type="radio" id="embargoYes" name="embargo" value="true" data-toggle="collapse" href="#date" role="button" aria-expanded="true" aria-controls="date" checked>
                        <label class="form-check-label">
                            Yes
                        </label>
                    </div>
                    <div class="form-group col-md-1">
                        <input class="form-check-input" type="radio" id="embargoNo" name="embargo" value="false" data-toggle="collapse" href="#date" role="button">
                        <label class="form-check-label">
                            No
                        </label>
                    </div>
                    <div class="form-group col-md-3 collapse show multi-collapse" id="date">
                        <input type="date" class="date" min="<%=moment().format('YYYY-MM-DD')%>" max="<%=moment().add(1, 'year').format('YYYY-MM-DD')%>" name="date"/>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary" onclick="nextPage()">Next</button>
            </div>
            <div class="tab-pane fade" id="uploadFile" role="tabpanel">
                <div class="form-row">
                    <label>
                        Metadata File
                        <span>&nbsp;&nbsp;(Upload file that contains metadata for the raw files)</span>
                    </label>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-7">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" name="uploadMetadata">
                            <label class="custom-file-label">Choose file</label>
                    </div>
                </div>
                <div class="form-row">
                    <label>
                        Raw Files
                        <span>&nbsp;&nbsp;(Upload raw files into a compressed format. Prefer for .zip)</span>
                    </label>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-7">
                            <input type="file" class="custom-file-input" name="uploadRawFile">
                            <label class="custom-file-label">Choose file</label>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary" onclick="prePage()">Back</button>
                <button type="submit" class="btn btn-dark">Submit</button>
            </div>
    </div>
    </form>
</div>

<!--<script>
    window.addEventListener('DOMContentLoaded', async () => {
        let res = await fetch('/fileList.json');
        res = await res.json();

        let tbody = document.querySelector('#file-list>tbody');

        res.forEach((row, i) => {
            let tr = document.createElement('tr');

            let rowNum =  document.createElement('td');
            let filename = document.createElement('td');
            let description = document.createElement('td');

            rowNum.innerText = i + 1;
            filename.innerText = row.filename;
            description.innerText = row.description;

            tr.appendChild(rowNum);
            tr.appendChild(filename);
            tr.appendChild(description);

            tbody.appendChild(tr);
        });
    });
</script> -->

<%- include components/scripts.ejs %>
<script>
    function nextPage() {
        let element = window.document.getElementById('nextPage');
        element.setAttribute('aria-selected', 'true');
        element.click();
    }
    function prePage() {
        let element = window.document.getElementById('prePage');
        element.setAttribute('aria-selected', 'true');
        element.click();
    }
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
</body>
</html>
