<!DOCTYPE html>
<html lang="en">

<%- include('../components/header.ejs', {title:'Search - Nature\'s Palette'}) %>

<body class="bg-light">

<%- include('../components/navbar.ejs', {user: user}) %>

<div class="container" style="width:70%; margin: auto">
    <br/>
    <form id="search-form" action="/search/searchPanel.html" method="GET">
        <div class="input-group mb-3">
            <input type="text"
                   id="search-terms"
                   class="form-control"
                   placeholder="name:value name:value......"
                   aria-label="name:value name:value......"
                   aria-describedby="search-btn">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="search-btn">
                    Search
                </button>
            </div>
        </div>

        <div class="form-row">
            <% if (searchTerms) {
                    for (let term of searchTerms) {
            %>
                <div class="form-group col-md-4">
                    <input type="text"
                           class="form-control"
                           <%if (query && query[term.name]) {%>
                                value="<%=query[term.name]%>"
                           <%}%>
                           name="<%= term.name %>"
                           placeholder="<%= term.name %>">
                </div>
            <% } %>
            <% } %>

        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">SAMPLE for OR operator inside of field</span>
            </div>
            <input type="text" aria-label="First name" class="form-control" placeholder="FIRST SEARCH CRITERIA">
            <input type="text" aria-label="Last name" class="form-control" placeholder="SECOND SEARCH CRITERIA">
        </div>
    </form>

    <div>
        <h5>Refine search by</h5>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><a class="btn btn-light">GeoReferencing</a></li>
            <li class="list-group-item"><a class="btn btn-light">Color Space</a></li>
        </ul>
    </div>

    <% if (result && result.length > 0) { %>
        <h5>Search Results</h5>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Genus</th>
                <th scope="col">Specific Epithet</th>
                <th scope="col">Infraspecific Epithet</th>
                <th scope="col">Sex</th>
                <th scope="col">Life State</th>
                <th scope="col">Patch</th>
            </tr>
            </thead>
            <tbody>
                <% result.forEach((row, i) => { %>
                <tr>
                    <th scope="row"><%= i + 1 %></th>
                    <td><%= row.genus %></td>
                    <td><%= row.specificEpithet %></td>
                    <td><%= row.infraspecificEpithet %></td>
                    <td><%= row.sex %></td>
                    <td><%= row.lifeStage %></td>
                    <td><%= row.Patch %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <button class="btn btn-primary float-right" type="button" id="download-btn">
            Download all
        </button>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                document.getElementById('download-btn').addEventListener('click', function () {
                    window.location.href = '/search/download.html' + window.location.search
                });
            })
        </script>
    <% } else if (result) { %>
        <h5>Your search did not match any results.</h5>
    <% } %>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('search-btn').addEventListener('click', function (e) {
            let params = {};

            for (let input of Array.from(
                document.querySelectorAll('#search-form input[name]:not([name=""])')
            )) {
                if (input.value.length > 0) {
                    params[input.name] = input.value;
                }
            }

            window.location.href = '/search/searchPanel.html?' + $.param(params);
        });
    });
</script>

<!--
<script>
    var elems = [document.getElementsByTagName('input')];

    var data = {
        value: 'hello!'
    };

    var command = {
        text: function(str){
            this.innerHTML = str;
        },
        value: function(str){
            this.setAttribute('value', str);
        }
    };

    var scan = function(){
        /**
         * 扫描带指令的节点属性
         */
        for(let i = 0, len = elems.length; i < len; i++){
            let elem = elems[i];
            elem.command = [];
            for(let j = 0, len1 = elem.attributes.length; j < len1; j++){
                var attr = elem.attributes[j];
                if(attr.nodeName.indexOf('q-') >= 0){
                    /**
                     * 调用属性指令，这里可以使用数据改变检测
                     */
                    command[attr.nodeName.slice(2)].call(elem, data[attr.nodeValue]);
                    elem.command.push(attr.nodeName.slice(2));
                }
            }
        }
    }

    /**
     * 设置数据后扫描
     */
    function mvSet(key, value){
        data[key] = value;
        scan();
    }
    /**
     * 数据绑定监听
     */
    elems[1].addEventListener('keyup', function(e){
        mvSet('value', e.target.value);
    }, false);

    scan();

    /**
     * 改变数据更新视图
     */
    setTimeout(function(){
        mvSet('value', 'fuck');
    },1000)

</script>
-->

<%- include ../components/scripts.ejs %>

</body>
</html>